/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set global font & background */
body {
  background-color: #111;
  color: #fff;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}